#search-input {
  border-radius: 10px;
  border: solid 1px;
  height: 55px;
  width: 250px;
}
#search-button {
  height: 40px;
  width: 250px;
  border-radius: 10px;
}
.card {
  background-color: rgba(43, 43, 128, 0.735);
}
